#main {
  padding-top: 30px;
}
.clearfix:before,.clearfix:after{
      content:"";
      display:block;
      clear:both;
      height:0;
}
.main-section{
    padding: 10px 0;
    margin-bottom: 30px;
    min-height: 200px;
}
.main-section:nth-child(2n+1){
  padding: 40px 0 20px;
    background: #f7f7f7;
}
.warpper{
width: 950px;
margin: 0 auto;
}
.side-navbar ul{
  margin-bottom: 30px;
}
.apps-list{
  margin-bottom: -13px;
}
.apps-list .link-icon i{
  display: inline-block;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #999;
  background: url(../image/home/public_icon.jpg);
  width: 50px;
  height: 50px;
}

/* 导航栏模块 */
.anony-nav {
  display: flex;
  justify-content: space-around;
  width: 1080px;
  margin: 0 auto 25px;
  height: 50px;
}
.anony-nav-left {
  display: inline-block;
}
.anony-nav-srh{
  display: inline-block;
}
.anony-nav-srh > input:first-child {
  width: 180px;
  height: 30px;
  margin-left: 30px;
}
.anony-nav-srh > input:last-child {
  width: 30px;
  height: 30px;
}
.anony-nav-srh > button {
  width: 30px;
  height: 30px;
}
.anony-nav-list {
  display: inline-block;
  font-size: 22px;
}
.anony-nav-list li {
  float: left;
  line-height: 50px;
  margin-left: 20px;
  color: aquamarine;
}
.anony-nav-list li>a{
 font-weight: bold;
font-family: sans-serif;
}
.anony-nav-list li:first-child>a{
  color:rosybrown;
}
.anony-nav-list li:nth-child(2)>a{
  color:orange;
}
.anony-nav-list li:last-child>a{
  color: lightskyblue;
}
.anony-nav-list > ul::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.anony-nav-list {
  /* 触发 hasLayout */
  zoom: 1;
}


/* 注册登录模块 */
.banner{
  background: url(../image/home/bg.jpg) no-repeat;
  background-size: contain;
  background-color: #edf4ed;;
}
.register {
  display: flex;
  justify-content: flex-end;
  padding: 0 120px;
  margin-bottom: 25px;
}
.register > .info-abount {
  width: 100px;
  height: inherit;
}
.register > .user-login {
  padding-top: 20px;
  width: 300px;
}
.user-login > .user-header {
  margin-bottom: 8px;
 
  border-bottom: 1px solid #ccc;
}
.user-login > .user-header ul::after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.user-login > .user-header li{
  float: left;
}
.user-login > .user-header  a {
  padding-bottom: 8px;
   color: #9b9b9b;;
}
.user-login > .user-header a:first-child {
  display: inline-block;
  margin: 0 60px 0 20px;
}
 .user-show {
  margin-bottom: 10px;
}
.user-show span {
  display: inline-block;
  margin-right: 8px;
}
 .user-show > a {
  color: #41ac52;
}
.user-password>.found-pass {
  display: flex;
  justify-content: flex-end;
}

.user-phoneinfo{
   margin-bottom: 10px;
}


.user-font {
  font-size: 12px;
  color: darkgrey;
}
.el-select{
width: 75px;
}
.el-button>span{
  color: #41ac52;
}
.user-register{
  margin-top: 10px;
}
.user-register>.el-button{
  width: 100%;
  background-color: rgba(66,189,86,.5);
}
.user-register>.el-button>span{
  color: white;
}

.user-about{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 8px;
  font-size: 12px;
}
.user-about>.user-auto{
  display: inline-block;
}
.user-about>.user-auto>span{
  margin-left: 5px;
  color: black;
}
.user-about>a{
  font-size: 12px;
  color: #41ac52;
}
.user-thrid{
  width: 80%;
  margin-top: 5px;
  padding-top: 8px;
  border-top: 1px solid #ccc;
  font-size: 12px;
}
.user-thrid>span{
  margin-right: 5px;
}
.user-thrid>a{
  color:lightcoral;
  margin-right: 8px;
}

/* 热点信息模块 */
.hot-main{
  margin-bottom: 12px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hotspot-main{
display: flex;
 justify-content: space-between;
 font-size: 16px;
  color:darkgrey;
}
.hot-main .hot-more{
  
  margin: 0 0 12px 0;
}
.hot-main>span{
  color: #072;
}
.hot-main a{
   color:  #27a;;
  font-size: 12px;
}
.hotspot-main a{
  color:  #27a;;
  font-size: 12px;
}
.hotspot-picture{
  width: 380px;
}
.hotspot-picture>ul::after{
content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.hotspot-picture>ul>li{
  float: left;
 margin: 0 10px 20px 0;
}
.hotspot-picture li span{
  font-size: 14px;
}
.hotspot-picture li span:first-child{
  margin-right: 8px;
}
.hotspot-picture li span:last-child{
  font-size: 13px;
}

.hotspot-artcile ul li{
  margin-bottom: 15px;
}
.hotspot-artcile li div{
width: 300px;
font-size: 12px;
}
.hotspot-right{
  margin-left: 25px;
}
.hotspot-right ul li{
  margin-bottom: 8px;
}
.hotspot-right>.hotspot-book{
  margin-bottom: 10px;
}
.hotspot-right>.hotspot-book>img{
  height: 146px;
  width: 240px; 
}
.hotspot-right>.hot-topic{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 0;
}
.hotspot-right>.hot-topic>a{
  color: #072;
  font-size: 15px;
}
.hot-topic-content li div{
  font-size: 12px;
}

/* 豆瓣时间模块 */
.blean-time{
  display: flex;
  justify-content: space-between;
  padding: 40px 0 20px;
  background: #f7f7f7;

}
.blean-time-main>.hot-more{
  font-size: 15px;
}
.blean-time-main>.hot-more>a{
  color: #072;
}
.blean-wrapper{
  width: 950px;
  margin: 0 auto;
}
.blean-time-nav
{
  display: inline-block;
}
.blean-time-nav>h2{
  color: #494949;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.blean-time-main{
  display: inline-block;
  width: 800px;
  margin-left: 30px;
}
.blean-time-main>.hot-more{
  margin-bottom: 20px;
}
.time-main-content ul::after{
content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.time-main-content ul li{
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
}
.time-main-content li .time-cover{
 width: 100px;
height: 141px;
filter:brightness(90%);
}
.time-main-content li {
  display: inline-block;
  text-align: center;
}
.time-main-content li a{
  display: inline-block;
  position: relative;
  
}
.time-main-content li i{
  display: inline-block;
  position: absolute;
  right: 2px;
  bottom: 8px;
}
.time-main-content li .time-icon{
  width: 50%;
  height: 50%;
}
.time-main-content .time-dirct{
  width: 95px;
  margin-top: 10px; 
}
.time-main-content .time-dirct a{
  font-size: 13px;
  color: #172c45;
}
.time-main-content .time-dirct span{
    font-size: 12px;
    color: #999999;
    margin-top: 10px;
}

/* 豆瓣电影模块 */
.blean-film-main{
  display: flex;
  justify-content: space-between;
}
.blean-film-main .side-navbar h2{
margin-bottom: 10px;
font-weight: normal;
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
}
.blean-film-main a{
color: #27a;
}
.side-navbar{
width: 190px;
}
.side-navbar>.side-nav-info li{
margin-bottom: 5px;
}
.side-navbar>.side-nav-info a{
  font-size: 14px;
}
.film-show-content{
  margin-left: 13px;
}
.film-show-content .pic{
  height: 145px;
  overflow: hidden;
  margin-bottom: 10px;
}
.film-show-content::after {
content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.film-show-content li{
display: inline-block;
text-align: center;
margin-right: 30px;
margin-bottom: 20px;
vertical-align: top;
}
.film-show-content li img{
  width: 100px;
}
.film-show-content .film-fame{
  margin-bottom: 5px;
}
.film-show-content .film-fame a{
  color: #333;
  font-size: 13px;
}
.film-show-content .film-mark{
    margin-bottom: 5px;
}
.film-show-content .film-mark span{
  font-size: 13px;
}
  .film-classify{
  width: 430px;
}
.film-classify .film-type::after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.film-classify .film-type li{
float: left;
}
.film-hot-topics{
  margin-top: 20px;
}
.film-hot-topics>.film-name {
  font-size: 12px;
}
.film-hot-topics>.film-name li{
  list-style-type: decimal;
    list-style-position: inside;
  padding-bottom: 5px;
  margin-bottom: 6px;
   border-bottom: 1px solid #ccc;
}
.film-hot-topics>.film-name a{
  margin-left: 5px;

}
.film-type li{
  margin-right: 13.6px;
 
}
.film-type li a{
  font-size: 12px;
}
.film-show li {
font-size: 12px;
text-align: center;
}
 .mark-num{
  display: inline-block;
  background: -webkit-image-set(url(../image/home/film/film-star.jpg) 1x, url(../image/home/film/film-star2.jpg) 2x) no-repeat;
  width: 55px;
  height: 11px;
  margin-right: 3px ;
}
.show-content{
  width: 900px;
}
.allstar50{
background-position: 0 0px;
}
.allstar40{
background-position: 0px -22px;
}
.allstar45{
  background-position:0px -11px;
}
 .allstar30{
  background-position: 0px -44px;
}
.film-show-content .film-mark .allstar25{
  background-position: 0px -55px;
}
.film-mark i{
  font-style: normal;
  font-size: 12px;
  margin-left: 4px;
    color: #e09015;
}
.buy-tickets{
  width: 65px;

  margin: 0 auto;
  background:#1c8bd0 ;
  border-radius: 2px;
}
.buy-tickets a{
  display: inline-block;
  font-size: 12px;
  padding:3px;
  color: white;
}

/* 读书模块 */
.blean-read-main{
  display: flex;
}
.blean-read-main .side-navbar h2{
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 10px;
}
.blean-read-main a{
  color: #614e3c;
}
.blean-read-main .film-fame a{
  color: #614e3c;
}
.author{
  font-size: 12px ;
  margin-bottom: 6px;
}
.blean-read-main .buy-tickets{
  background: #999a95;
}
.blean-read-main .buy-tickets a{
  color: white;
}
.blean-read-main .film-type li:first-child>a{
  color: #999;
}
.blean-read-main .film-class-more .film-type{
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

/* 音乐模块 */
.blean-music-main{
  display: flex;
}
.blean-music-main a{
   color:#555d53;
}
.blean-music-main .side-navbar h2{
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 25px;
}
.blean-music-main .side-navbar .side-title{
  color: #f38c00;
}
.blean-music-main .film-name li{
  display: flex;
  border-bottom: none;
  list-style: none;
  margin-bottom: 15px;
}
.blean-music-main .film-name .num{
  float: left;
  margin-right: 10px;
}
.blean-music-main .music-introduce a{
  margin-left: 0;
}


.blean-music-main .music-introduce .music-about{
  margin-top: 4px;
  color: #999;
}
.film-name .music-cover{
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.film-name .music-cover img{
  width: 45px;
  height: 45px;
}
.film-name .music-introduce{
  display: inline-block;
}
.blean-music-main .music-pic{
  position: relative;
}
.blean-music-main .music-pic i{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 25px;
  background-position: 50% 50%;
  background-image: -webkit-image-set(url(../image/home/music/music_play1.jpg) 1x, url(../image/home/music/music_play2.jpg) 2x);
  background-repeat: no-repeat;
}
.blean-music-main .music-pic img{
  width: 80px;
} 
.blean-music-main .film-mark{
  width: 130px;
}
.blean-music-main .film-show-content .music-pic {
  margin-bottom: 10px;
}
.blean-music-main .film-show-content{
  margin-left: 0;
}
.blean-music-main .film-show-content li{
  margin-right: 0;
}

.blean-music-main .apps-list .blean-fm{
 background-position: -250px 0px;
}
.blean-music-main .apps-list .blean-music{
  background-position: -50px 0;
}
/* 读书专栏 */

.aside{
  float: right;
  width: 300px;
}